h1{
	text-align: center;
	color: purple;
	
}

body{
	background-color: grey;
	list-style: none;
}	

.informations ul{
	font-weight: bold;
	list-style: none;
	padding-left: 0px;
	
	
}

.adjectifs{
	text-align: center;
	font-style: italic;
	font-size: 25px;

}


.reseau ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;

	

}

.reseau li{
	margin-right: 20px;
}

.color_bleu i{
	color: #353866;
}




.color_blue i{
	color: #41D3BD;
}

.company{ 
	font-style: italic;
	font-weight: bold;
}


.experiences h3{
	border : solid black 2px;
	background-color: purple;
	text-align: center;
}


.formations h3{
	border : solid black 2px;
	background-color: purple;
	text-align: center;

}


.competences h3{
	border : solid black 2px;
	background-color: purple;
	text-align: center;
}


.centres_intérêts h3{
	border : solid black 2px;
	background-color: purple;
	text-align: center;
}