h1{
	text-align : center;
}

.informations {
	display : flex;
	width : 23em;
	
}


.informations {
	margin-left : 80%;
}

.informations li{
	list-style-type: none;
}

.adjectifs {
	text-align: center;
}

li{
	list-style-type: none;
}

.en_tete{
	background-color: purple;
}

.reseau a{
	color : black;
}



.experiences{
	text-align : center;
	padding-top : 20px;
	background-color: black;
	color: #FFF;
	font-size: 18px;
	padding-bottom: 15px;
}
.formations{
	text-align: center;
	font-size: 18px; 
	padding-top : 15px;
}

.competences{
	font-size: 18px;
	text-align: center;
}

.centres_interets{
	font-size: 18px;
	background-color: purple;
}

.informations li{
	font-weight: bold;
}

.experiences li{
	font-style: italic;
}

.centres_interets{
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
}

.punchline{
	padding-bottom : 75px;
}

.punchline h3{

}
